.no-touch {
  .to-top {
    opacity: 0; /* Элементы скрыты */
    transform: translateY(-50px); /* Смещены вверх */
    will-change: transform, opacity; /* Оптимизация для плавности */
  }

  .to-animate {
    opacity: 0; /* Изначально текст невидим */
    transform: translateY(20px); /* Смещен вниз */
    will-change: transform, opacity; /* Оптимизация для анимации */
  }

  .hidden-text-container {
    position: relative;
    overflow: hidden;
    clip-path: inset(100% 0px 0px);
  }

  .animate-image {
    transition: 1s;
  }

  .slick-current {
    .slider-slide-container {
      animation: slide 0.8s ease forwards;
      .point {
        opacity: 1!important;
      }
      .description {
        opacity: 1!important;
        bottom: 24px!important;
      }
    }
  }

}

@keyframes slide {
  0% {
    clip-path: inset(0 100% 0 0);
  }
  100% {
    clip-path: inset(0 0% 0 0);
  }
}

html:not(.no-touch) {
  .slick-current {
    .slider-slide-container {
      .description {
        opacity: 1!important;
        bottom: 24px!important;
      }
    }
  }
}