.to-top {
  opacity: 0; /* Элементы скрыты */
  transform: translateY(-50px); /* Смещены вверх */
  will-change: transform, opacity; /* Оптимизация для плавности */
}

.to-animate {
  opacity: 0; /* Изначально текст невидим */
  transform: translateY(20px); /* Смещен вниз */
  will-change: transform, opacity; /* Оптимизация для анимации */
}

.hidden-text-container {
  position: relative;
  overflow: hidden;
}

.name{
  //height: 0px;
  //transform-origin: bottom;
}

.text {
  font-size: 3rem; /* Текст крупный */
  margin: 0;
  text-align: center;
  color: #fff;
  line-height: 100px;
}