#key_features {
  padding: 60px 0;
  opacity: 0;
  transition: all $animation_speed;
  @media (max-width: 991px) {
    opacity: 1!important;
  }
  @media (min-width: 1200px) {
    padding: 24px 0;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  &.visible {
    opacity: 1;
  }

  .container {
    .row {
      flex-direction: column;
      @media (min-width: 1200px) {
        flex-direction: row-reverse;
      }
    }
  }

  .wrapper_slider {
    @media (min-width: 1200px) {
      width: 828px;
      height: 752px;
    }
    .slider-slide-container {
      width: 100%;
      @media (min-width: 992px) {
        width: 804px;
      }
    }
  }

  .wrapper_slider-nav {
    width: 100%;
    @media (min-width: 1200px) {
      align-items: start;
      width: calc(100% - 828px);
      margin-top: 96px;
    }
    @media (min-width: 1400px) {
      margin-top: 96px;
      align-items: end;
      margin-bottom: 27px;
    }
  }

  .title-mini {
    margin-bottom: 32px;
    padding-top: 0;
    @media (min-width: 1200px) {
      margin-bottom: -66px;
      padding-top: 36px;
    }
  }

  .slider-nav {
    width: calc(100% + 16px);
    margin: 32px -8px 0;
    @media (min-width: 1200px) {
      width: 100%;
      margin: 0 ;
    }

    .slick-list {
      height: auto !important;
    }

    .slick-track {
      height: auto !important;
      @media (min-width: 1200px) {
        transform: translate3d(0px, 0px, 0px) !important;
      }
    }

    .slider-title {
      font-size: 20px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #fff;
      opacity: 0.5;
      transition: all $animation_speed;
      display: none;
      @media (min-width: 1400px) {
        font-size: 32px;
      }
      @media (min-width: 1200px) {
        display: block;
      }

      span {
        border-bottom: 0 solid rgba(255, 255, 255, .4);
        transition: all $animation_speed;
      }
    }

    .min-photo {
      margin: 0 8px;
      position: relative;
      width: 60px;
      height: 60px;
      overflow: hidden;
      border-radius: 8px;
      display: block;
      @media (min-width: 1200px) {
        display: none;
        margin: 0;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border: solid 1px rgba(255, 255, 255, 0.1);
        border-radius: 8px;
        opacity: 0;
        transition: all $animation_speed;
      }
    }

    .slick-current {
      .min-photo {
        &:before {
          opacity: 1;
        }
      }
    }
  }

  .wrapper_slider-nav {
    display: flex;
    align-items: end;
  }

  .slick-current {
    .slider-title {
      opacity: 1;

      span {
        border-width: 2px;
      }
    }
  }

  .slick-slide {
    border: 0;
    overflow: hidden;
    transition: none!important;
    @media (min-width: 992px) {
      transition: opacity 500ms!important;
    }
    .slider-title {
      padding: 13px 0;
      cursor: pointer;
    }

    .name {
      font-size: 24px;
      font-weight: bold;
      opacity: 1;
      transition: all $animation_speed;
      display: block;
      margin-bottom: 24px;
      line-height: 1.5;
      @media (min-width: 1200px) {
        display: none;
      }
      span {
        border-bottom: 2px solid rgba(255, 255, 255, 1);
        transition: all $animation_speed;
      }


    }

    .photo {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: center;
      position: relative;
      border-radius: 8px;
      overflow: hidden;
      @media (min-width: 1200px) {
        height: 752px;
      }
      @media (min-width: 1200px) {
        .timeline {
          content: '';
          display: block;
          position: absolute;
          top: 10px;
          left: 10px;
          right: 10px;
          height: 4px;
          border-radius: 5px;
          overflow: hidden;

          &:before,
          &:after {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 10px;
            height: 4px;
            background: #ffffff;
            border-radius: 5px;
          }

          &:before {
            width: 0;
          }

          @keyframes timeline-animation {
            from {
              width: 0;
            }
            to {
              width: 100%;
            }
          }

          &:after {
            right: 0;
            opacity: 0.5;
          }
        }
      }
      .point {
        display: none;
        position: absolute;
        transition: all .5s;
        transition-delay: .25s;
        @media (min-width: 992px) {
          display: block;
          opacity: 0;
        }
      }

      img,
      video {
        @media (max-width: 1199px) {
          width: 100%;
          height: 100%;
        }
        @media (min-width: 1200px) {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    &.slick-active {
      .photo {
        .timeline {
          &:before {
            animation-name: timeline-animation;
            animation-duration: 6.5s;
            animation-timing-function: linear;
            animation-play-state: running;
            animation-fill-mode: forwards;
          }
        }
      }
      //&:hover {
      //  .photo {
      //    .timeline {
      //      &:before {
      //        animation-play-state: paused;
      //      }
      //    }
      //  }
      //}
    }

    .description {
      margin-top: 24px;
      @media (min-width: 768px) {
        margin-top: 0;
        position: absolute;
        opacity: 0;
        bottom: -100px;
        left: 24px;
        right: 24px;
        display: flex;
        flex-wrap: nowrap;
        align-items: end;
        justify-content: space-between;
        gap: 30px;
        transition: all .5s;
        transition-delay: .5s;
      }

      span {
        display: block;
        font-size: 16px;
        line-height: 1.5;
        color: #999;
        width: 100%;
        @media (min-width: 768px) {
          max-width: 309px;
        }

        b {
          color: #fff;
        }


        & + span {
          margin-top: 10px;
          @media (min-width: 768px) {
            margin-top: 0;
          }
        }
      }
    }

  }
}